server {
    listen  ${NGINX_PORT};
    
    location /status {
        add_header Content-Type text/plain;
        return 200 'OK';
    }
    
    location /api {
        rewrite /api(.*) $1 break;
        proxy_pass ${API_URL};
    }
}