{
  "taskDefinition": {
    "family": "fishermen-leaderboard",
    "executionRoleArn": "{{ shell "aws_iam_role ecsTaskExecutionRole" }}",
    "taskRoleArn": "{{ shell "aws_iam_role ecsTaskExecutionRole" }}",
    "placementConstraints": [ ],
    "requiresCompatibilities": [
      "FARGATE"
    ],
    "networkMode": "awsvpc",
    "cpu": "512",
    "memory": "1024",
    "volumes": [ ],
    "containerDefinitions": [
      {
        "name": "application",
        "image": "{{ .env.docker_registry }}/fishermen-leaderboard-proxy:latest",
        "portMappings": [
          {
            "containerPort": 80
          }
        ],
        "environment": [
          {
            "name": "API_URL",
            "value": "http://localhost:8080"
          },
          {
            "name": "UI_URL",
            "value": "http://localhost:3000"
          }
        ],
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-group": "fishermen-leaderboard",
                "awslogs-stream-prefix": "ecs",
                "awslogs-region": "eu-west-1"
            }
        }
      },        
      {
        "name": "api",
        "image": "{{ .env.docker_registry }}/fishermen-leaderboard-api:latest",
        "portMappings": [
          {
            "containerPort": 8080
          }
        ],
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-group": "fishermen-leaderboard",
                "awslogs-stream-prefix": "ecs",
                "awslogs-region": "eu-west-1"
            }
        }
      },        
      {
        "name": "ui",
        "image": "{{ .env.docker_registry }}/fishermen-leaderboard-ui:latest",
        "portMappings": [
          {
            "containerPort": 3000
          }
        ],
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-group": "fishermen-leaderboard",
                "awslogs-stream-prefix": "ecs",
                "awslogs-region": "eu-west-1"
            }
        }
      }
    ]
  }
}