.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitBtn {
    background: #f5b40d;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    padding: 1rem;
  }

.card {
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card .picture {
    max-width: 100%;
    height: auto;
}